[submodule "external/4ms"]
	path = external/4ms
	url = git@github.com:4ms/4ms-kicad-lib.git
[submodule "external/SparkFun-KiCad-Libraries"]
	path = external/SparkFun-KiCad-Libraries
	url = git@github.com:sparkfun/SparkFun-KiCad-Libraries.git
[submodule "external/digikey-kicad-library"]
	path = external/digikey-kicad-library
	url = git@github.com:Digi-Key/digikey-kicad-library.git
[submodule "external/kicad-footprints"]
	path = external/kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "external/kicad-symbols"]
	path = external/kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "plugins/InteractiveHtmlBom"]
	path = plugins/InteractiveHtmlBom
	url = git@github.com:openscopeproject/InteractiveHtmlBom.git
[submodule "plugins/HierPlace"]
	path = plugins/HierPlace
	url = git@github.com:xesscorp/HierPlace.git
